In [11]:
import pandas as pd
from faker import Faker


# Load spreadsheet
xl = pd.ExcelFile('anonymized_data.xlsx')

# Load a sheet into a DataFrame by its name
df = xl.parse('Sheet1')
df

fake = Faker()

In [18]:
def anonymize_df(df):
    columns_to_anonymize = ['profile_owner', 'leader_name', 'loc', 'order', 'customer']

    for column in columns_to_anonymize:
        unique_values = df[column].unique()
        if column == 'loc':
            fake_values = [fake.random_int(min=1, max=50) for _ in range(len(unique_values))]
        elif column == 'order':
            fake_values = [fake.random_int(min=1000, max=50000) for _ in range(len(unique_values))]
        elif column == 'customer':
            fake_values = [fake.company() for _ in range(len(unique_values))]
        elif df[column].dtype == 'object':
            fake_values = [fake.unique.name() for _ in range(len(unique_values))]
        else:
            fake_values = [fake.unique.random_number() for _ in range(len(unique_values))]
        mapping_dict = dict(zip(unique_values, fake_values))
        df[column] = df[column].map(mapping_dict)

    return df

fake.unique.clear()
df = anonymize_df(df)

In [20]:
df

,profile_name,leader_name,loc,order,customer,order_date,week_number,delivery_date,ship_date,date_acknowledge,date_acknowledgement_calc,days_to_acknowledge,on_time
0,Beth Walker,Justin Clark,28,30435,Fuller-Rangel,2023-10-13,41,2024-03-13,2024-03-13,2023-11-09,2023-11-09,19,0
1,Beth Walker,Justin Clark,28,27726,Fuller-Rangel,2023-10-18,42,2024-03-13,2024-03-13,2023-11-09,2023-11-09,16,0
2,Beth Walker,Justin Clark,28,23163,Fuller-Rangel,2023-10-18,42,2024-03-13,2024-03-13,2023-11-09,2023-11-09,16,0
3,Beth Walker,Justin Clark,28,35393,Fuller-Rangel,2023-10-18,42,2024-03-13,2024-03-13,2023-11-09,2023-11-09,16,0
4,Beth Walker,Justin Clark,28,48353,Fuller-Rangel,2023-10-18,42,2024-03-13,2024-03-13,2023-11-09,2023-11-09,16,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21932,Betty Reid,Jeremy Love,34,33428,Page Ltd,2023-10-04,40,2023-10-18,2023-10-12,2023-10-09,2023-10-09,3,0
21933,Betty Reid,Jeremy Love,34,5466,"White, Parsons and Gilmore",2023-10-19,42,2023-11-02,2023-11-02,2023-10-24,2023-10-24,3,0
21934,Betty Reid,Jeremy Love,34,36579,"Johnson, Richardson and Williams",2023-11-01,44,2023-11-22,2023-11-20,2023-11-06,2023-11-06,3,0
21935,Betty Reid,Jeremy Love,34,16228,Estrada Inc,2023-11-13,46,2023-12-01,2023-12-01,2023-11-15,2023-11-15,2,1
21936,Betty Reid,Jeremy Love,34,19885,Page Ltd,2023-11-15,46,2023-12-01,2023-11-27,2023-11-17,2023-11-17,2,1

In [21]:
# Export the DataFrame to an Excel file
df.to_excel('anonymized_data.xlsx', index=False)